body {
  background: #3a335e !important;
}

body:before {
  background: #3a335e !important;
}

.nav > li > a > img {
  width: 36px !important;
  height: 36px !important;
  padding: 5px !important;
}

.page-sidebar.sidebar-fixed {
  background: #1d1a2e !important;
}

.page-sidebar.sidebar-fixed:before {
  background: #1d1a2e !important;
}

.page-sidebar .sidebar-menu a {
  height: 42px !important;
  color: #eeffff !important;
}

.page-sidebar .sidebar-menu > li > a {
  border-top: 1px solid #363636 !important;
}

.page-sidebar .sidebar-menu > li > a:hover {
  border-color: #f3f3f3 !important;
  background-color: #282d36 !important;
  color: white !important;
}

.page-sidebar.menu-compact .sidebar-menu > li > a .menu-text {
  background-color: #1d1a2e !important;
}

.page-header {
  background: #1d1a2e !important;
}

.page-header .header-title h1 {
  color: #ffffff;
}
.page-body {
  background: #3a335e !important;
}

.page-breadcrumbs {
  background: #1d1a2e !important;
}

.breadcrumb {
  color: #fff !important;
}

.breadcrumb > li > a {
  color: #ffffff !important;
}

.databox {
  color: #eeffff !important;
}

.databox .bg-white {
  background-color: #1d1a2e !important;
}

.databox .carbon {
  color: #eeffff !important;
}

.databox .sonic-silver {
  color: #eeffff !important;
}

.widget-header {
  background: #1d1a2e !important;
}

.tickets-container {
  background-color: #130d34 !important;
}

.tickets-container .tickets-list .ticket-item {
  background-color: #130d34 !important;
  border: 1px solid white !important;
}

.tickets-container .tickets-list .ticket-item .ticket-time .time {
  color: #fff !important;
}

.tickets-container .tickets-list .ticket-item .ticket-type .type {
  color: #fff !important;
}

.nav-tabs {
  background-color: #1d1a2e !important;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  color: #ffffff !important;
  background-color: #1d1a2e !important;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-top: 5px solid #8c0095 !important;
}
.tab-content {
  background-color: #38325b !important;
}
